routes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="routes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="route">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KR_ID" type="xs:unsignedShort" />
              <xs:element name="number" type="xs:string" />
              <xs:element name="direction" type="xs:string" />
              <xs:element name="directionEn" type="xs:string" />
              <xs:element name="directionEs" type="xs:string" />
              <xs:element name="transportTypeID" type="xs:unsignedByte" />
              <xs:element name="transportType" type="xs:string" />
              <xs:element name="affiliationID" type="xs:unsignedByte" />
              <xs:element name="affiliation" type="xs:string" />
              <xs:element name="realtimeForecast" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>